@import url(materialize.css);
@import url("https://fonts.googleapis.com/css?family=Bahiana|Barrio");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.post-card {
  background-color: rgba(255, 7, 0, 0.5); }

.user-info {
  background-color: rgba(0, 178, 155, 0.5); }

.edit-circle {
  margin: -20px 15px 0 0; }

.post-author {
  margin-top: 55px; }

.userphoto-small {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: 45px; }

.post-background {
  background-color: rgba(255, 0, 0, 0.5); }

.post-background {
  background-color: rgba(255, 0, 0, 0.5); }

.logo {
  font-size: 2em;
  font-family: "Barrio";
  margin-top: 0;
  padding-left: 2%; }

nav {
  background-color: #FF0700; }

.toast {
  background-color: #7D0BFF; }

.form {
  margin-top: 15%;
  border: 20px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 30px; }

input::-webkit-input-placeholder {
  color: #263238; }

.form-button {
  margin-top: 5%;
  width: 100%;
  background-color: #CC3333; }
