<% if current_user != @user %>
  <div id="follow-form">
    <% if @user.followers.include? current_user %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>
