<!-- <span class="position animated rollIn"><h1>Welcome to Postcards</h1></span> -->
<div class="row">
  <div class="col m12 postcard-border animated rollIn">
    <div class="row">
      <div class="col m6 text">
        <div class="vr animated rollIn">

        </div>
      </div>
      <div class="col m6 address">
        <div class="stamp animated rollIn">
          <span class="p-font animated rollIn">P</span>
        </div>
        <br><br><br><br><br><br><br>
        <p>A site to share stories,</p>
        <hr>
        <p>connect with new friends,</p>
        <hr>
        <p>and see the world</p>
        <hr>
        <p>from a new point of view</p>
        <hr>

      </div>

    </div>
  </div>
</div>
