<span class="position"><h1>Welcome to Postcards</h1><%= image_tag 'http://i.imgur.com/NbJKpxl.png', class: "passport" %></span>
<div class="row">
  <div class="col m12 postcard-border">
    <div class="row">
      <div class="col m6 text">
        <div class="vr">

        </div>
      </div>
      <div class="col m6 address">
        <div class="stamp">
          <span class="p">P</span>
        </div>
        <br><br><br><br><br><br><br>
        <hr>

        <hr>

        <hr>

        <hr>

      </div>

    </div>
  </div>
</div>
