<!-- <span class="position animated rollIn"><h1>Welcome to Postcards</h1></span> -->
<div class="row">
  <div class="col m12 postcard-border animated rollIn">
    <div class="row">
      <div class="col m6 text-welcome">
        <div class="vr animated rollIn">

        </div>
      </div>
      <div class="col m6 address">
        <div class="stamp animated rollIn">
          <span class="p-font animated rollIn">P</span>
        </div>
        <br><br><br><br><br><br><br>
        <p>A community for travelers to gather</p>
        <hr>
        <p>and share stories of their adventures.</p>
        <hr>
        <p>Looking for your next escapade idea?</p>
        <hr>
        <p>Postcard has you covered!</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="row center">
  <% @city.each do |city| %>
    <%= link_to city_path(city.id) do %>
      <div class="citycard" style="background-image: url(<%= city.gif %>);">
        <div class="col m6">
          <p class="citycard-text"><%= city.city_name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
