<h3>Welcome to <%= @city.city_name %>!</h3>
<div id="cityHeroImage"><%= image_tag @city.photo %> </div>

<h2>Adventures!</h2>
<% @city.posts.order(created_at: :desc).each do |post| %>
  <%= link_to "#{post.title}", post_path(post) %>, <br>
<% end %>


<%= link_to "Add New Post for #{@city.city_name}", new_post_path %>
