@import url(materialize.css);
@import url("https://fonts.googleapis.com/css?family=Bahiana|Barrio");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.post-card {
  background-color: rgba(255, 7, 0, 0.5); }

.user-info {
  background-color: rgba(0, 178, 155, 0.5); }

.edit-circle {
  margin: -20px 15px 0 0; }

.post-author {
  margin-top: 55px; }

.userphoto-small {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: 45px; }

.post-background {
  background-color: rgba(255, 0, 0, 0.5); }

.post-background {
  background-color: rgba(255, 0, 0, 0.5); }

h1, h2, h3, h4, h5, h6 {
  color: white; }

h3 {
  margin: 0;
  padding: 0.5em; }

p {
  margin-top: 0.5em; }

a {
  color: white; }

a:hover {
  color: #C18BFF;
  transition: 0.3s; }

.form-button {
  margin-top: 5%;
  width: 100%;
  background-color: #CC3333; }

.city-header {
  margin: 0;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.8); }

.city-image {
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: -2px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.postcard-ld {
  margin: 0 auto;
  border: 2px white solid;
  border-radius: 0.3em;
  height: 8em;
  width: 12em; }

.postcard-posts-container {
  margin: 1em 1%; }

.postcard-ld-posts {
  margin: 1em;
  float: left;
  padding: 1em;
  border: 2px white solid;
  border-radius: 0.3em;
  height: 8em;
  width: 12em; }

.postcard-stamp {
  line-height: 0em;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  margin: 0.7em 0.8em -3em 12em;
  border: 1px white solid;
  float: right; }

.postcard-font {
  color: white;
  font-size: 0.8em;
  font-style: italic;
  text-align: left; }

.postcard-number {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em; }

.postcard-ld-text {
  height: 5em;
  width: 7.5em;
  border-right: 1px white solid;
  margin-top: 2.5em;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 1px;
  float: left; }

.postcard-ld-addr {
  height: 7.9em;
  padding-top: 1.5em;
  margin-left: 50%; }

.add-new {
  margin: 0; }

.background {
  margin: -1em;
  height: 7.7em;
  width: 11.7em;
  background-color: rgba(0, 0, 0, 0.6); }

html {
  text-align: center; }

.logo {
  font-size: 2em;
  font-family: "Barrio";
  margin-top: 0;
  padding-left: 2%; }

nav {
  background-color: #FF0700; }

.toast {
  background-color: #7D0BFF; }

.form {
  margin-top: 15%;
  border: 20px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 30px; }

input::-webkit-input-placeholder {
  color: #263238; }
