// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize.css";
@import "sessions.scss";
@import "users.scss";
@import "posts.scss";
@import url('https://fonts.googleapis.com/css?family=Bahiana|Barrio');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.logo {
  font-size: 2em;
  font-family: "Barrio";
  margin-top: 0;
  padding-left: 2%;
}

nav {
  background-color: #FF0700;
}

.toast {
  background-color: #7D0BFF;
}

.form {
  margin-top: 15%;
  border: 20px solid rgba(255, 0, 0,.50);
  border-radius: 10px;
  padding-bottom: 30px;
}

input::-webkit-input-placeholder {
  color: #263238;
}

.form-button {
  margin-top: 5%;
  width: 100%;
  background-color: #CC3333;
}
