
/* SHOW CITY CSS */
.form-button {
  margin-top: 5%;
  width: 100%;
  background-color: #CC3333; }

.city-subheader {
  margin: 0;
  padding: .5em; }

.city-image {
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: -2px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.welcome {
  font-size: 1.17em; }

.post {
  overflow: auto 500px;
  max-height: 500px; }
