// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  float: left;
  overflow: auto;
  height: 485px;
  max-width: 475px;
  text-align: left;
}

.post {
  text-align: center;
}
