// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.content {
  float: left;
  overflow: auto;
  height: 475px;
  margin-top: 10px;
  max-width: 470px;
  text-align: center;
}

.post-title {
  text-align: center;
}

hr {
}

.post {
  text-align: center;
  padding-top: 40px;
}

p {
  text-align: center;
  margin-top: 15px;
}
